<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.nuls.api.server.dao.mapper.UtxoMapper" >
  <resultMap id="BaseResultMap" type="io.nuls.api.entity.Utxo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hash_index" property="hashIndex" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="lock_time" property="lockTime" jdbcType="BIGINT" />
    <result column="spend_tx_hash" property="spendTxHash" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hash_index, address, amount, lock_time, spend_tx_hash
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from utxo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByHashAndIndex" resultMap="BaseResultMap" parameterType="io.nuls.api.server.dao.util.Searchable">
    select
    <include refid="Base_Column_List" />
    from utxo
    <include refid="io.nuls.api.server.dao.mapper.CommonMapper.Search_Where"/>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from utxo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByHashAndIndex" parameterType="io.nuls.api.server.dao.util.Searchable">
    delete from utxo
    <include refid="io.nuls.api.server.dao.mapper.CommonMapper.Search_Where"/>
  </delete>
  <insert id="insert" parameterType="io.nuls.api.entity.Utxo" >
    insert into utxo (hash_index, address,
    amount, lock_time, spend_tx_hash
    )
    values (#{hashIndex,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
    #{amount,jdbcType=BIGINT}, #{lockTime,jdbcType=BIGINT}, #{spendTxHash,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertByBatch" parameterType="java.util.List">
    insert into utxo (hash_index, address,
    amount, lock_time, spend_tx_hash
    ) values
    <foreach collection="list" item="item" index="index" separator=",">
      values (#{item.hashIndex,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR},
      #{item.amount,jdbcType=BIGINT}, #{item.lockTime,jdbcType=BIGINT}, #{item.spendTxHash,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="io.nuls.api.entity.Utxo" >
    insert into utxo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hashIndex != null" >
        hash_index,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="lockTime != null" >
        lock_time,
      </if>
      <if test="spendTxHash != null" >
        spend_tx_hash,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hashIndex != null" >
        #{hashIndex,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="lockTime != null" >
        #{lockTime,jdbcType=BIGINT},
      </if>
      <if test="spendTxHash != null" >
        #{spendTxHash,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.nuls.api.entity.Utxo" >
    update utxo
    <set >
      <if test="hashIndex != null" >
        hash_index = #{hashIndex,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="lockTime != null" >
        lock_time = #{lockTime,jdbcType=BIGINT},
      </if>
      <if test="spendTxHash != null" >
        spend_tx_hash = #{spendTxHash,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.nuls.api.entity.Utxo" >
    update utxo
    set hash_index = #{hashIndex,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      lock_time = #{lockTime,jdbcType=BIGINT},
      spend_tx_hash = #{spendTxHash,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByBatch">
    insert into utxo (hash_index, address,
    amount, lock_time, spend_tx_hash
    ) values
    <foreach collection="list" item="item" index="index" separator=",">
      values (#{item.hashIndex,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR},
      #{item.amount,jdbcType=BIGINT}, #{item.lockTime,jdbcType=BIGINT}, #{item.spendTxHash,jdbcType=VARCHAR}
      )
    </foreach>
    ON DUPLICATE KEY UPDATE spend_tx_hash=VALUES(spend_tx_hash);
  </update>
  <select id="selectBySearchable" parameterType="io.nuls.api.server.dao.util.Searchable" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from utxo
    <include refid="io.nuls.api.server.dao.mapper.CommonMapper.Search_Where"/>
  </select>
  <select id="selectList" parameterType="io.nuls.api.server.dao.util.Searchable" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from utxo
    <include refid="io.nuls.api.server.dao.mapper.CommonMapper.Search_Where"/>
  </select>

  <delete id="deleteBySearchable" parameterType="io.nuls.api.server.dao.util.Searchable">
    DELETE from utxo
    <include refid="io.nuls.api.server.dao.mapper.CommonMapper.Search_Where"/>
  </delete>
  <select id="getBlockSumTxamount" parameterType="io.nuls.api.server.dao.util.Searchable" resultMap="ResultMapWithAmount" >
    SELECT
    <include refid="Base_Column_List" />
    ,SUM(amount) total FROM utxo WHERE spend_tx_hash IS NULL GROUP BY address ORDER BY total DESC
  </select>
</mapper>