<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.nuls.api.server.dao.mapper.WebwalletTransactionMapper" >
  <resultMap id="BaseResultMap" type="io.nuls.api.entity.WebwalletTransaction" >
    <id column="hash" property="hash" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="time" property="createTime" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hash, type, status, time, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from webwallet_transaction
    where hash = #{hash,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from webwallet_transaction
    where hash = #{hash,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteConfirmTx" parameterType="java.lang.String" >
    DELETE FROM webwallet_transaction WHERE STATUS = 2
  </delete>
  <insert id="insert" parameterType="io.nuls.api.entity.WebwalletTransaction" >
    insert into webwallet_transaction (hash, type, status, 
      time, address)
    values (#{hash,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.nuls.api.entity.WebwalletTransaction" >
    insert into webwallet_transaction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hash != null" >
        hash,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        time,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hash != null" >
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{time,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.nuls.api.entity.WebwalletTransaction" >
    update webwallet_transaction
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.nuls.api.entity.WebwalletTransaction" >
    update webwallet_transaction
    set type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      time = #{createTime,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR}
    where hash = #{hash,jdbcType=VARCHAR}
  </update>
  <update id="updateStatusByPrimaryKey" parameterType="java.lang.String" >
    update webwallet_transaction set status = 2 where hash = #{hash}
  </update>
  <select id="selectList" parameterType="io.nuls.api.server.dao.util.Searchable" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from webwallet_transaction
    <include refid="io.nuls.api.server.dao.mapper.CommonMapper.Search_Where"/>
  </select>
</mapper>